In [9]:
import pandas as pd
from pathlib import Path


projectdir = Path('.').resolve().parents[2]
path = f'{projectdir}/milestones/data/targetscan/unweighted_TargetScanHuman_6cand6cons_totalcontext.tsv'
outpath = f'{projectdir}/milestones/data/targetscan/unweighted_TargetScanHuman_human_mouse_mir197_mir769.tsv'


def filter_predicted_targets(path, outpath):
    with open(path) as fh:
        df = pd.read_csv(path, sep='\t')
        df = df.rename(columns={'Species ID': 'organism', 'Mirbase ID': 'mirna'})
        # filter
        df = df[df.organism.isin([10090, 9606])]
        df = df[df.mirna.isin(['Mir-197-3p', 'Mir-769-5p'])]
        
        # adjust naming for better interoperability
        df.organism = df.organism.map({10090: 'mouse', 9606: 'human'})
        df.mirna = df.mirna.map({'Mir-769-5p': 'mir769', 'Mir-197-3p': 'mir197'})
        
        df.to_csv(outpath, sep='\t', index=False)
        display(df)
        
filter_predicted_targets(path, outpath)

       target_gene organism   mirna  Total context++ score
5739          M6PR    mouse  mir769                 -0.073
5740       CYP26B1    mouse  mir769                 -0.028
5741          PDK4    mouse  mir769                 -0.148
5742      BAIAP2L1    mouse  mir769                 -0.100
5743        HOXA11    mouse  mir769                 -0.123
...            ...      ...     ...                    ...
151569      GPRIN3    human  mir197                 -0.020
151570      GRIN2B    human  mir197                 -0.190
151571    SLC25A16    human  mir197                 -0.010
151572       RPAP2    human  mir197                 -0.120
151573      NT5C3A    human  mir197                 -0.270

[14848 rows x 4 columns]